<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="closeChat()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Global Shat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="extras">
    <div class="extra" *ngFor="let messageArray of (userMessages | async)?.messageArray">
      <ion-card color="dark">
        <ion-card-content>
          <h5>{{ messageArray.usrUp }}</h5>
        </ion-card-content>
        <ion-card-content>
          <h2>{{ messageArray.msgUp }}</h2>
        </ion-card-content>
        <ion-card-content>
          <h5>{{ messageArray.dateUp }}</h5>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer padding>
  <ion-item>
    <ion-textarea [(ngModel)]="msg"></ion-textarea>
    <ion-buttons>
      <ion-button fill="clear" (click)="sendMessage()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-footer>
