<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upload Something</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
		<div class="camera"></div>
    <input type="file" (change)="fileChanged($event)">
  </div>

  <ion-card *ngIf="imageURL">
    <img *ngIf="imageURL" src="https://ucarecdn.com/{{ imageURL }}/-/quality/lightest/-/preview/270x270/"/>
    <ion-card-content>
      <ion-textarea placeholder="Enter some description" [(ngModel)]="desc"></ion-textarea>
      <ion-button shape="round" color="primary">POST</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
